task1/data/
task2/data/
task2/logs/
task3/data/glove.840B.300d.txt
task3/data/__MACOSX/._snli_1.0
task3/data/__MACOSX/snli_1.0/._.DS_Store
task3/data/__MACOSX/snli_1.0/._Icon
task3/data/__MACOSX/snli_1.0/._README.txt
task3/data/snli_1.0/.DS_Store
task3/data/snli_1.0/Icon
task3/data/snli_1.0/README.txt
task3/data/snli_1.0/snli_1.0_dev.jsonl
task3/data/snli_1.0/snli_1.0_dev.txt
task3/data/snli_1.0/snli_1.0_test.jsonl
task3/data/snli_1.0/snli_1.0_test.txt
task3/data/snli_1.0/snli_1.0_train.jsonl
task3/data/snli_1.0/snli_1.0_train.txt
.gitignore
