task1/data/
task2/data/
task2/logs/
task3/data/glove.840B.300d.txt
task3/data/__MACOSX/._snli_1.0
task3/data/__MACOSX/snli_1.0/._.DS_Store
task3/data/__MACOSX/snli_1.0/._Icon
task3/data/__MACOSX/snli_1.0/._README.txt
task3/data/snli_1.0/.DS_Store
task3/data/snli_1.0/Icon
task3/data/snli_1.0/README.txt
task3/data/snli_1.0/snli_1.0_dev.jsonl
task3/data/snli_1.0/snli_1.0_dev.txt
task3/data/snli_1.0/snli_1.0_test.jsonl
task3/data/snli_1.0/snli_1.0_test.txt
task3/data/snli_1.0/snli_1.0_train.jsonl
task3/data/snli_1.0/snli_1.0_train.txt
.gitignore
task3/data/glove.840B.300d.txt.pt
task3/__pycache__/model.cpython-37.pyc
task3/__pycache__/util.cpython-37.pyc
task3/best_model.ckpt
test.ipynb
Fudan/task1/__pycache__/models.cpython-39.pyc
Fudan/task2/__pycache__/models.cpython-39.pyc
Fudan/task2/__pycache__/rnn.cpython-39.pyc
Fudan/task2/logs/events.out.tfevents.1654151610.Sunstar
Fudan/task2/logs/events.out.tfevents.1654156908.Sunstar
Fudan/task2/logs/events.out.tfevents.1654159497.Sunstar
Fudan/task2/logs/events.out.tfevents.1654169448.Sunstar
Fudan/task2/data/glove.6B.200d.txt
Fudan/task2/data/sampleSubmission.csv
Fudan/task2/data/test.tsv
Fudan/task2/data/train.tsv
Fudan/task3/__pycache__/model.cpython-37.pyc
Fudan/task3/__pycache__/util.cpython-37.pyc
Fudan/task3/data/glove.840B.300d.txt
Fudan/task3/data/glove.840B.300d.txt.pt
Fudan/task3/data/__MACOSX/._snli_1.0
Fudan/task3/data/__MACOSX/snli_1.0/._.DS_Store
Fudan/task3/data/__MACOSX/snli_1.0/._Icon
Fudan/task3/data/__MACOSX/snli_1.0/._README.txt
Fudan/task3/data/snli_1.0/.DS_Store
Fudan/task3/data/snli_1.0/Icon
Fudan/task3/data/snli_1.0/README.txt
Fudan/task3/data/snli_1.0/snli_1.0_dev.jsonl
Fudan/task3/data/snli_1.0/snli_1.0_dev.txt
Fudan/task3/data/snli_1.0/snli_1.0_test.jsonl
Fudan/task3/data/snli_1.0/snli_1.0_test.txt
Fudan/task3/data/snli_1.0/snli_1.0_train.jsonl
Fudan/task3/data/snli_1.0/snli_1.0_train.txt
Fudan/task3/best_model.ckpt
Fudan/task1/numpy_based_model.csv
Fudan/task1/sklearn_based_lr.csv
Fudan/task1/data/sampleSubmission.csv
Fudan/task1/data/test.tsv
Fudan/task1/data/train.tsv
Fudan/task2/result.csv
